<form action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="method" value="put">

  <label for="pokemon[name]">Name:</label>
  <input name="pokemon[name]" value="<%= @pokemon.name %>">

  <label for="pokemon[img_url]">Photo:</label>
  <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>">

  <label for="pokemon[poke_type]">Type:</label>
  <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">

  <input type="submit" value="Create">
</form>

<form action="/pokemon/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete">
</form>
