<p><a href="/pokemon">All Pokemon</a></p>
<div class="pokemon">
  <form action="/pokemon/<%= @pokemon.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <div>
      <label for="pokemon[name]">Name:</label>
      <input name="pokemon[name]" value="<%= @pokemon.name %>">
    </div>

    <div>
      <label for="pokemon[img_url]">Photo:</label>
      <input name="pokemon[img_url]" value="<%= @pokemon.img_url %>">
    </div>

    <div>
      <label for="pokemon[poke_type]">Type:</label>
      <input name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">
    </div>

    <div>
      <label for="pokemon[cp]">Combat Power:</label>
      <input name="pokemon[cp]" value="<%= @pokemon.cp %>">
    </div>

    <div>
      <label for="pokemon[trainer_id]">Trainer Id:</label>
      <input name="pokemon[trainer_id]" value="<%= @pokemon.trainer_id %>">
    </div>

    <div class="button">
      <input type="submit" value="Update">
    </div>
  </form>

    <form class="button_delete" action="/pokemon/<%= @pokemon.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input class="button-delete" type="submit" value="Delete">
    </form>
</div>
