<p><a href="/">« View All Pokemon</a></p>
<div class="pokemon">
  <!-- Image First-->
  <p><img src="<%= @pokemon.img_url %>"></p>
  <p>Name: <%= @pokemon.name %></p>
  <p>Type: <%= @pokemon.poke_type %></p>
  <p>Combat Power: <%= @pokemon.cp %></p>
  <p>Trainer: <%= @pokemon.trainer_id %></p>
  <a href="/pokemon/<%= @pokemon.id %>/edit">Edit</a>
</div>

<div class="pokemon">
  <h2>Trainer:</h2>
  <% if @pokemon.trainer_id != nil %>
    <%= @pokemon.trainer.name %>
  <% else %>
    <p>This pokemon is a free agent</p>
  <% end %>
</div>
